<center><span style="color:#b30000;font-size:40px;"><strong>Epsilon Mid Project</strong></span></center>
<center><span style="color:#b30000;font-size:30px;"><br>IT Salary Survey EU (2018 - 2019 - 2020)<br><br><strong>(Data Preprocessing
    Part)</strong></span></center>

<span style="color:#2929a3;font-size:20px;">Import Libraries</span>

In [636]:
import pandas as pd
import numpy as np

<span style="color:#2929a3;font-size:20px;">Read Datasets </span>

In [637]:
df = pd.read_json('Datasets/Analyzed_Dataset_json.json')
df_languages = pd.read_csv('Datasets/languages_df.csv')
df_technologies = pd.read_csv('Datasets/technologies_df.csv')

<span style="color:#2929a3;font-size:20px;">Read Sample of The Dataset </span>

In [638]:
df.sample(5)

,Timestamp,Age,Gender,City,Position,Years_of_Experience,Level,Current_Salary,Bonus+Stocks,Salary_One_Year_Ago,Bonus+Stocks_One_year_Ago,Main_Language_at_Work,Main_Technology,Number_of_Vacation_Days,Contract_Duration,Company_Type,Company_Size,Year,Percentage_of_Salary_Change,Percentage_of_Bonus_Stocks_Change
1382,NaT,NaN,Male,Frankfurt,Data Scientist,8.0,Senior,106000.0,NaN,98000.0,NaN,Deutsch,R,25.0,None,Product,100-1000,NaN,8.2,NaN
1545,NaT,25.0,Female,Moscow,Front End Developer,5.0,Senior,35300.0,NaN,NaN,NaN,Russian,Javascript / Typescript,28.0,Unlimited contract,Product,50-100,NaN,NaN,NaN
2205,2020-11-24 22:08:31,42.0,Female,Munich,Tester,12.0,No level,47500.0,47500.0,39000.0,39000.0,German,Java,28.0,Unlimited contract,Product,51-100,2020.0,21.8,21.8
777,NaT,23.0,Male,Berlin,DevOps,6.0,Senior,83000.0,NaN,63000.0,NaN,English,AWS,30.0,Unlimited contract,Startup,10-50,NaN,31.7,NaN
1901,2020-11-24 12:10:05,31.0,Female,Munich,QA Automation Engineer,7.0,Senior,68000.0,NaN,58000.0,NaN,English,Java,30.0,Unlimited contract,Product,1000+,2020.0,17.2,NaN

In [639]:
## Fixing Year Column
df['Year'] = df['Year'].apply(lambda r:str(r).split('.')[0])

In [640]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3001 entries, 0 to 3000
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Timestamp                          2012 non-null   datetime64[ns]
 1   Age                                2774 non-null   float64
 2   Gender                             2978 non-null   object
 3   City                               2972 non-null   object
 4   Position                           2967 non-null   object
 5   Years_of_Experience                2953 non-null   float64
 6   Level                              2952 non-null   object
 7   Current_Salary                     2985 non-null   float64
 8   Bonus+Stocks                       982 non-null    float64
 9   Salary_One_Year_Ago                2078 non-null   float64
 10  Bonus+Stocks_One_year_Ago          714 non-null    float64
 11  Main_Language_at_Work              2964 non-null   object
 12  Main_Technology                    1977 non-null   object
 13  Number_of_Vacation_Days            2109 non-null   float64
 14  Contract_Duration                  2180 non-null   object
 15  Company_Type                       2911 non-null   object
 16  Company_Size                       2955 non-null   object
 17  Year                               3001 non-null   object
 18  Percentage_of_Salary_Change        2077 non-null   float64
 19  Percentage_of_Bonus_Stocks_Change  455 non-null    float64
dtypes: datetime64[ns](1), float64(9), object(10)
memory usage: 492.4+ KB

In [641]:
df.isnull().mean() * 100

Timestamp                            32.955681
Age                                   7.564145
Gender                                0.766411
City                                  0.966345
Position                              1.132956
Years_of_Experience                   1.599467
Level                                 1.632789
Current_Salary                        0.533156
Bonus+Stocks                         67.277574
Salary_One_Year_Ago                  30.756415
Bonus+Stocks_One_year_Ago            76.207931
Main_Language_at_Work                 1.232922
Main_Technology                      34.121959
Number_of_Vacation_Days              29.723426
Contract_Duration                    27.357547
Company_Type                          2.999000
Company_Size                          1.532822
Year                                  0.000000
Percentage_of_Salary_Change          30.789737
Percentage_of_Bonus_Stocks_Change    84.838387
dtype: float64

In [642]:
## Drop unnessary columns
df.drop(['Timestamp','Bonus+Stocks','Bonus+Stocks_One_year_Ago','Percentage_of_Bonus_Stocks_Change'], axis=1, inplace=True)

In [643]:
## Check Duplicates
df.duplicated().sum()

45

In [644]:
## Drop Duplicates
df.drop_duplicates(inplace=True)

<span style="color:#2929a3;font-size:25px;">Impute Categorical Columns </span>

In [645]:
## Impute Gender Column
gender_mode = df['Gender'].mode()[0]
df['Gender'].fillna(gender_mode,inplace=True)

In [646]:
## Impute City Column
city_mode = df['City'].mode()[0]
df['City'].fillna(city_mode,inplace=True)

In [647]:
## Impute Position Column
Position_mode = df['Position'].mode()[0]
df['Position'].fillna(Position_mode,inplace=True)

In [648]:
## Impute Level Column
level_mode = df['Level'].mode()[0]
df['Level'].fillna(level_mode,inplace=True)

In [649]:
## Impute Contract Duration
Contract_mode = df['Contract_Duration'].mode()[0]
df['Contract_Duration'].fillna(Contract_mode, inplace=True)

In [650]:
## Impute Company Type
type_mode = df['Company_Type'].mode()[0]
df['Company_Type'].fillna(type_mode, inplace=True)

In [651]:
## Impute Company Size
size_mode = df['Company_Size'].mode()[0]
df['Company_Size'].fillna(size_mode, inplace=True)

<span style="color:#b30000;font-size:35px;">
    <strong>Encode Categorical Columns</strong></span><br>

<span style="color:#2929a3;font-size:25px;">Encode Nominal Variables </span>

In [652]:
from category_encoders import BinaryEncoder

In [653]:
encoder = BinaryEncoder()

In [654]:
transformed_columns = pd.DataFrame(encoder.fit_transform(df[['Gender','City','Position','Company_Type','Year']]),columns=encoder.get_feature_names_out())

In [655]:
## Concat transformed_columns, df_languages and df_technologies
df = pd.concat([df,transformed_columns,df_languages,df_technologies] , axis=1)

In [656]:
## Drop Original Columns
df.drop(['Gender','City','Position','Main_Language_at_Work','Main_Technology','Company_Type','Year'] , axis=1 , inplace=True)

In [657]:
## Check Duplicates
df.duplicated().sum()

21

In [658]:
## Drop Duplicates
df.drop_duplicates(inplace=True)

<span style="color:#2929a3;font-size:25px;">Encode Ordinal Variables </span>

<span style="color:#2929a3;font-size:17px;">Encode Level Column </span>

In [659]:
df['Level'].unique()

array(['Senior', 'Middle', 'Junior', 'Head', 'Principal', 'No level',
       'VP', 'Manager', 'CTO', 'Director', 'Key', 'Intern', 'Student',
       'C-Level', 'Entry level', 'Self employed', nan], dtype=object)

In [660]:
level_dic = {
    "Student":1,
    'Entry level':2,
    'intern':3,
    'Junior':4,
    'Middle':5,
    'Senior':6,
    'Manager':7,
    'Director':8,
    'Principal':9,
    'Head':10,
    'VP':11,
    'C-Level':12,
    'CTO':13,
    'Key':14,
    'No level':np.nan,
    'Self employes':np.nan
}

In [661]:
df['Level'] = df['Level'].map(level_dic)

<span style="color:#2929a3;font-size:17px;">Encode Contract Duration Column </span>

In [662]:
df['Contract_Duration'].unique()

array(['Unlimited contract', '6 months', 'more than 1 year', '1 year',
       'less than 3 months', '3 months', 'Temporary contract', '0', nan],
      dtype=object)

In [663]:
Contract_dic = {
    '0':0,
    'Temporary contract':1,
    'less than 3 months':2,
    '3 months':3,
    '6 months':4,
    '1 year':5,
    'more than 1 year':6,
    'Unlimited contract':7
}

In [664]:
df['Contract_Duration'] = df['Contract_Duration'].map(Contract_dic)

<span style="color:#2929a3;font-size:17px;">Encode Company Size Column </span>

In [665]:
df['Company_Size'].unique()

array(['100-1000', '50-100', '1000+', '10-50', 'up to 10', '51-100',
       '101-1000', '11-50', nan], dtype=object)

In [666]:
Size_dic={
    'up to 10':1,
    '10-50':2,
    '11-50':2,
    '50-100':3,
    '51-100':3,
    '100-1000':4,
    '101-1000':4,
    '1000+':5
}

In [667]:
df['Company_Size'] = df['Company_Size'].map(Size_dic)

<span style="color:#b30000;font-size:35px;">
    <strong>Split Data to Train and Test Set</strong></span><br>

In [668]:
from sklearn.model_selection import train_test_split

In [669]:
## Assume that Current_Salary is the target 
x = df.drop('Current_Salary', axis=1)
y = df['Current_Salary']

In [670]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=7)

<span style="color:#2929a3;font-size:25px;">Impute Numerical Columns </span>

In [671]:
from sklearn.impute import KNNImputer

In [672]:
imputer = KNNImputer(n_neighbors=5)

In [673]:
col = x_train.columns

In [674]:
x_train = pd.DataFrame(imputer.fit_transform(x_train),columns=col)

In [675]:
x_test = imputer.transform(x_test)

<span style="color:#b30000;font-size:35px;">
    <strong>Apply Feature Scaling</strong></span><br>

In [676]:
from sklearn.preprocessing import RobustScaler

In [677]:
scaler = RobustScaler()

In [678]:
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)

In [679]:
x_test = scaler.transform(x_test)

C:\Users\NOTEBOOK\anaconda3\envs\ML\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RobustScaler was fitted with feature names
  warnings.warn(